

:root {
  --font-primaire: 'Cardo', serif;
  --font-secondaire: 'Bungee Shade', cursive;

  --couleur-primaire: #fff;
  --degrader-principale: linear-gradient(35.74deg, rgba(167, 2, 154, 0.7) -2.92%, rgba(167, 2, 154, 0) 106.13%);
}